<div class="commentOuter">
    <div class="commentUpper">
        <span><a href='/user/{{this.username}}'>{{this.username}}</a>:</span>
        <span>{{this.created}}</span>
    </div>
    <div class="commentLower">
        {{this.comment}}
    </div>
</div>