<nav class="light-green" role="navigation">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo left">Stories App</a>
        <ul class="right">
            {{#if username}}
                <li><a href="logout">Logout</a></li>
            {{else}}
                <li><a href="login">Login / Register</a></li>
            {{/if}}
        </ul>
    </div>
</nav>