<nav class="light-green" role="navigation">
    <div class="nav-wrapper container">
        <a class="brand-logo left">Stories App</a>
        <ul class="right">
            {{#if user}}

            {{else}}
                <li><a href="login" class="">Login / Register</a></li>
            {{/if}}
        </ul>
    </div>
</nav>