{{! The header / navigation bar shown at the top of every page}}
<nav class="light-green" role="navigation">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo left">Stories App</a>
        <ul class="right">
            <li><a href="/all">All Stories</a></li>
            {{#if username}}
                <li><a href="/user/{{username}}">Your Profile</a></li>
                <li><a href="/stories">Your Stories</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Login / Register</a></li>
            {{/if}}
        </ul>
    </div>
</nav>