{{! A 404 / Not Found page that still shows the navbar and some some formatting to the user, in case they mistype a URL.}}
<div class="section">
    <center>
        <h1>Page Not Found!</h1>
        Sorry, but there is no page available at the URL you requested.
    </center>
</div>