<div class="section">
    <center><h3>All Stories</h3></center>
    {{#unless stories}}
    <center><h5>No stories have been uploaded yet!</h5></center>
    {{else}}
    {{>storiesTable stories=stories}}
    {{/unless}}
</div>