<div class="section">
    <center><h3>You Favourites</h3></center>
    {{#unless stories}}
    <center>You don't have any favourite stories yet. Click the <i class="material-icons">favorite_border</i> when reading a story to add it to your favourites. The icon will then appear like this: <i class="material-icons favourite">favorite</i></center>
    {{else}}
    {{>storiesTable stories=stories}}
    {{/unless}}
</div>