<div class="section">
    <form method="post">
        <div class="input-field">
            <label for="name">Username: </label>
            <input placeholder="Username" name="username" id="name" type="text" required>
        </div>
        <div class="input-field">
            <label for="pass">Password: </label>
            <input placeholder="Password" name="password" id="pass" type="password" required>
        </div>
        <p>
            <label>
                <input type="checkbox" name="remember">
                <span>Remember me</span>
            </label>
        </p>
        <button type="submit" class="btn light-green" name="login">Log In</button>
    </form>
</div>
<div class="divider"></div>
<div class="section">
    Don't have an account? <a href="/register">Register for an account.</a>
</div>
