/* A box displaying feedback to the user */
#outputbox {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding:0.5rem;
    border-radius:1rem;
}

/* Used to display the stories in a larger format.*/
.card {
    margin:0.8rem;
}

/* The navbar at the top of every page */
nav {
    margin-bottom: 1rem;
}

/* Determines properties of the 1-5 star rating elements */
.rating {
    font-size:xx-large;
}

.rating:hover {
    transition:300ms;
    opacity:50%;
}

/* Optional class to give rated stars other styles (e.g. gold-colored). */
.rateOn {
    color:goldenrod;
}

td {
    max-width:0rem;
    overflow-wrap:break-word;
}

.section {
    overflow-wrap:break-word;
}

/* Minimize the width of the rating column */
table tr th:nth-child(4) {
    width:7ch;
}

/* Prevent a very long word from stretching out of the card's boundaries. */
.card-stacked {
    overflow:hidden;
}

.edit-button {
    margin-top:0.5rem;
}

/* Used to separate elements horizontally with space partitioned in between */
.partition {
    display:flex;
    justify-content:space-between;
}