/* A box displaying feedback to the user */
#outputbox {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding:0.5rem;
    border-radius:1rem;
}

/* Used to display the stories in a larger format.*/
.card {
    margin:0.8rem;
}

/* The navbar at the top of every page */
nav {
    margin-bottom: 1rem;
}

/* Determines properties of the 1-5 star rating elements */
.rating {
    font-size:xx-large;
}

.rating:hover {
    transition:300ms;
    opacity:50%;
}

/* Optional class to give rated stars other styles (e.g. gold-colored). */
.rateOn {
    color:goldenrod;
}

td {
    max-width:0rem;
    overflow-wrap:break-word;
}

.section {
    overflow-wrap:break-word;
}

/* Minimize the width of the rating column */
table tr th:nth-child(4) {
    width:7ch;
}

/* Prevent a very long word from stretching out of the card's boundaries. */
.card-stacked {
    overflow:hidden;
}

.edit-button {
    margin-top:0.5rem;
}

/* Used to separate elements horizontally with space partitioned in between */
.partition {
    display:flex;
    justify-content:space-between;
}

/* Story cover properties on the read page. */
.readcover {
    max-width:50%;
}

/* Comments left by users have three portions. An outer-box which holds everything, the upper part of the box, and the lower part which holds the comment itself. */

/* Don't give the first comment a top-border. */
.comments .commentOuter:first-child {
    border-top: none;
}
.commentOuter {
    padding-top:0.5rem;
    margin-bottom:0.5rem;
    border-top:1px solid rgb(127, 168, 138);
    display: flex;
    flex-direction: column;
}
.commentUpper {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
}

/* Helper class to add additional spacing below an element*/
.bspacing {
    margin-bottom:1rem;
}

/* Style for a softer "Delete" link that doesn't stand out too much; used for comments */
.deleteComment {
    color:gray;
    margin-right:1rem;
}

/* Use media rules to selectively switch between a horizontal menu, and a dropdown menu for bigger and smaller screens respectively. */
@media only screen and (max-width: 800px) {
    #noDropdown {
        display: none;
    }
}
@media only screen and (min-width: 801px) {
    #dropdownTrigger {
        display: none;
    }
}

/* Elements which can't be selected */
.noSelect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

/* Make the favorite icon red. */
.favorite {
    color:red;
}